<mat-card >
 <mat-card-content class="card">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- img Column -->
    <ng-container matColumnDef="img" class="header-image">
      <th mat-header-cell *matHeaderCellDef> Produto </th>
      <td mat-cell *matCellDef="let products" > <img [src]="products.img" class="product-list" /> </td>
    </ng-container>
  
    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let products"> {{products.price | currency:'BRL'}} </td>
    </ng-container>
  
    <!-- data Column -->
    <ng-container matColumnDef="datasheet">
      <th mat-header-cell *matHeaderCellDef> Datasheet </th>
      <td mat-cell *matCellDef="let products"><a [href]="products.datasheet">Datasheet</a>  </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Adicionar ao carrinho </th>
      <td mat-cell *matCellDef="let product"> 
          <button mat-raised-button color="primary" (click)=addTocart(product)
    
          >
              <mat-icon>add_shopping_cart</mat-icon>

          </button>
    
    </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
 </mat-card-content>

</mat-card>



