.card{
   // max-width: 400px;
    //margin: 15px;
}
.header-image{
    background-size: cover;
}

.mat-table{
    box-shadow: none;
    width: 100%;
    //height: auto;
}

.product-list{
    height: auto;
    width: 20em;
}

